/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddeadf;
    text-align: center;
}

h1, h2 {
    color: #327434;
}

a {
    color: #327434;
    text-decoration: none;
}

/* Navbar */
.navbar {
    background-color: #327434;
    padding: 10px 0;
    text-align: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(144, 138, 138);
}

/* Hero Section (Title & Subtitle) */
.hero {
    padding: 40px 0;
    background-color: #cbffdf;
    margin-bottom: 20px;
    border-bottom: 2px solid #327434;
}

.hero .title {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero .subtitle {
    font-size: 24px;
    color: #666;
}

/* Map Section */
.map-container {
    width: 80%;
    height: 450px;
    margin: 0 auto 20px auto;
    border: 2px solid #327434;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
    height: 100%;
}

/* Info section styling */
.info {
    text-align: center;
    margin: 30px auto;
    padding: 20px;
}

/* Frame for text */
.info-frame {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    width: 60%;
    max-width: 600px;
    text-align: left;
}

/* Text links */
.info p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.link {
    color: #4CAF50;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Button styling */
.btn-container {
    margin-top: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}


/* Footer */
.footer {
    background-color: #327434;
    padding: 10px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Hero Section (Title & Subtitle) */
.hero {
    padding: 40px 0;
    background-color: #327434;
    margin-bottom: 20px;
    border-bottom: 2px solid #327434;
    text-align: center; /* Pastikan gambar dan teks berada di tengah */
}

.hero-image {
    width: 100%;
    max-width: 600px; /* Set lebar maksimal untuk gambar */
    height: auto;
    margin-bottom: 20px; /* Jarak antara gambar dan teks */
    border-radius: 10px; /* Opsional: Menambahkan efek sudut melengkung pada gambar */
}

.hero .title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fefdfd;
}

.hero .subtitle {
    font-size: 24px;
    color: #70c770;
}
